{% extends "base.html.twig" %}
{% block title %}
	{{ parent() }}
	Ajouter au cart
{% endblock %}
{% block content %}
	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-12 col-md-6 align-items-center">
				<h1 class="text-center text-primary fw-bold m-2">Ajouter au
					panier</h1>
				<form action="" method="post">
					<select id="idUser" name="idUser" class="formcontrol" required>
						{% for c in carts %}
							<option value="{{c.id}}">voici votre cadis n'umereaux {{c.id}}, ayant pour date de création {{c.creationdate}}</option>
						{% endfor %}
					</select>
					<div class="text-center">
						<input type="submit" value="Ajouter" class="btn
						btn-primary m-2">
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}